.sales-point {
  text-align: center;
  max-width: 21.13rem;
  margin: 0 auto;

  &__icon {
    height: clamp(4rem, 12vw, 4.5rem);
    width: auto;
    margin: 0 auto 2em 0;
  }

  &__header {
    font-size: clamp(1.125rem, 5vw, 1.25rem);
    margin-bottom: .75em;
  }

  &__description {
    font-size: clamp(.875rem, 4vw, 1rem);
    opacity: var(--font-body-opacity);
  }
}