.social-link {
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  border-radius: 10em;
  border: 1px solid var(--neutral-white);
  transition: color 150ms ease-out;

  &:hover,
  &:focus {
    color: var(--accent-cyan);
    border: 1px solid var(--accent-cyan);
    outline: none;
  }
}